body {
  background: gainsboro;
}
.weather-app-wrapper {
  background: white;
  margin: 0 auto;
  max-width: 600px;
  margin: 30 auto;
}
.with-border-image {
  border-style: solid;
  border-width: 5px;
  border-image: linear-gradient(
      45deg,
      #72195a,
      #614597,
      #006fc5,
      #0094d9,
      #00b4ce,
      #00d0ad,
      #00b4ce,
      #0094d9,
      #006fc5,
      #614597,
      #72195a
    )
    1;
}
.weather-app {
  padding: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #614597;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperautre .units {
  position: relative;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #72195a;
  padding: 20px;
  text-align: center;
}
.weather-forecast-temperature-max {
  color: #614597;
  text-align: center;
}
.weather-forecast-temperature-min {
  color: #00d0ad;
  text-align: center;
}

a {
  color: #71a9f7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: #72195a;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
small {
  display: block;
  text-align: center;
}
#search-city {
  background-color: #4c1036;
  color: white;
  border: #71a9f7;
}
#locateMeButton {
  margin-left: 10px;
  background-color: #4c1036;
  color: white;
  border: #71a9f7;
}
