.weather-app-wrapper {
  background: white;
  margin: 0 auto;
  max-width: 600px;
  margin: 30 auto;
  border: 1px solid #4c1036;
  border-radius: 30px;
  box-shadow: 20px;
}
.weather-app {
  padding: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #71a9f7;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperautre .units {
  position: relative;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #72195a;
  padding: 20px;
  text-align: center;
}
.weather-forecast-temperature-max {
  color: #4c1036;
  text-align: center;
}
.weather-forecast-temperature-min {
  color: #71a9f7;
  text-align: center;
}
a {
  color: #71a9f7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: #72195a;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
#search-city {
  background-color: #4c1036;
  color: #71a9f7;
  border: #71a9f7;
}
#locateMeButton {
  margin-left: 10px;
  background-color: #4c1036;
  color: #71a9f7;
  border: #71a9f7;
}
